<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bank Churn</title>
</head>
<body>
    <div class="container">
        <h1>Bank Churn</h1>
        <form action="/predict" method="POST" class="prediction-form">
            <div class="form-group">
                <label for="CreditScore">Credit Score:</label>
                <input type="number" step="0.01" id="CreditScore" name="CreditScore" required>
            </div>

            <div class="form-group">
                <label for="Gender">Gender:</label>
                <select id="Gender" name="Gender" required>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Age">Age:</label>
                <input type="number" step="0.01" id="Age" name="Age" required>
            </div>

            <div class="form-group">
                <label for="Tenure">Tenure:</label>
                <input type="number" step="0.01" id="Tenure" name="Tenure" required>
            </div>

            <div class="form-group">
                <label for="Balance">Balance:</label>
                <input type="number" step="0.01" id="Balance" name="Balance" required>
            </div>

            <div class="form-group">
                <label for="NumOfProducts">Number of Products:</label>
                <input type="number" step="0.01" id="NumOfProducts" name="NumOfProducts" required>
            </div>

            <div class="form-group">
                <label for="HasCrCard">Has Credit Card:</label>
                <select id="HasCrCard" name="HasCrCard" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="IsActiveMember">Active Member?:</label>
                <select id="IsActiveMember" name="IsActiveMember" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EstimatedSalary">Estimated Salary:</label>
                <input type="number" id="EstimatedSalary" name="EstimatedSalary" required>
            </div>

            <div class="form-group">
                <label for="Geography_Germany">Location is Germany?:</label>
                <select id="Geography_Germany" name="Geography_Germany" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

             <div class="form-group">
                <label for="Geography_Spain">Location is Spain?:</label>
                <select id="Geography_Spain" name="Geography_Spain" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <button type="submit" class="btn">Predict</button>
        </form>

        <div class="prediction-result">
            <h3>Prediction Result</h3>
            {% if prediction_text %}
            <p>{{ prediction_text }}</p>
            {% else %}
            <p>No predictions yet made...</p>
            {% endif %}
        </div>
    </div>
</body>
</html>